
    <td-layout-nav logo="assets:teradata" toolbarTitle="">
       <button mat-icon-button td-menu-button tdLayoutToggle> 
   
        <mat-icon>menu</mat-icon>
        <!-- <mat-icon class="mat-icon-logo" svgIcon="tera"></mat-icon>   -->
        </button>
     
          <div td-toolbar-content layout="row" layout-align="center center" flex>
            <span>RealTime ANALYTICS</span>
            <span flex></span>
            <!-- <a mat-icon-button matTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><mat-icon>chrome_reader_mode</mat-icon></a>  -->
             <!-- <a mat-icon-button matTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><mat-icon svgIcon="assets:teradatalogo"></mat-icon></a>  -->
          </div>
          <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
            <div flex-gt-sm="90">
              <div layout-gt-xs="row">
                <div flex-gt-xs="100">
                  <mat-card>
                    <mat-card-title>World Health Organization</mat-card-title>
                    <mat-card-subtitle>Health responses within the United Nations</mat-card-subtitle> 
                    <mat-divider>
                    </mat-divider>

                    
                   <!-- <map [listOfFunctions]="functionlist"></map> -->
                    <map ></map>
                  </mat-card>
                </div>
              </div>
              <div layout-gt-xs="row" >
                <div flex-gt-xs="0">
                  <mat-card>
                    <mat-card-content class="text-center">
                      <div>
                          <!-- <td-tab-select [(ngModel)]="myValue">
          <td-tab-option [value]="1">Label 1</td-tab-option>
          <td-tab-option [value]="2">Label 2</td-tab-option>
          <td-tab-option [value]="3">Label 3</td-tab-option>
        </td-tab-select> -->
                          <!-- <div class="mat-subheading-2 push-bottom-none" >
                                                </div>
                          <button mat-menu-item>World Map</button> -->
                         
                           </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div flex-gt-xs="100">
                  <mat-card>
                      
                    <mat-card-content class="text-center" [style.backgroundColor]="''">
                      <div>
                        <div class="mat-subheading-2 push-bottom-none"></div>
                        
                        <!-- <div class="mat-subheading-2 push-bottom-none">Current Status</div> -->
                        <!-- <button mat-menu-item>Current Status </button> -->
                        <!-- <button (click)="myClickFunction()" >Present</button> -->
                        <button (click)="myClickFunction()" style="margin-right: 16px" _ngcontent-c47="" class="text-upper mat-raised-button mat-accent" color="bgc-blue-grey-" mat-raised-button="">Present</button>
                        <!-- <button (click)="myClickFunction2()">Future Prediction</button>  -->
                        <button (click)="myClickFunction2()" _ngcontent-c47="" class="text-upper mat-raised-button mat-accent" color="bgc-blue-grey-" mat-raised-button="">Future Prediction</button>  
                      </div>
                    </mat-card-content>
                  </mat-card>
                
                </div>
                

                
                 </div>

                 <!-- <div [style.height.px]="320" class="push-top-sm">
                    <img class="img-css" src="./assets/weather1.png"/>
                    <img class="img-css1" src="./assets/wether2.png"/>
                    
                      </div> -->

                      <div layout-gt-xs="row">
                        <div flex-gt-xs="100">
                          <mat-card>
       
       
                       <div [style.height.px]="320" class="push-top-sm">
                          <img class="img-css" src="./assets/weather1.png"/>
                          <img class="img-css1" src="./assets/wether2.png"/>
       
                            </div>
                          </mat-card>
                        </div>
                      </div>


                      
             </div>
            <div flex-gt-sm="60">
               
              <mat-card>

      <!-- <mat-icon _ngcontent-c423="" class="mat-icon ng-tns-c423-0 material-icons" role="img" aria-hidden="true">notifications</mat-icon> -->
                <!-- <mat-card-title>Notifications</mat-card-title> -->

                <mat-card-title><mat-icon _ngcontent-c423="" class="mat-icon ng-tns-c423-0 material-icons" role="img" aria-hidden="true">notifications</mat-icon>
                  Notifications</mat-card-title>
                
                <!-- <mat-card-subtitle>Areas requiring attention</mat-card-subtitle> -->
                <mat-divider></mat-divider>
                <mat-list class="will-load alert-list">
                  <ng-template tdLoading="alerts.load">
                    <ng-template let-item let-last="last" ngFor [ngForOf]="alerts">
                      <mat-list-item layout-align="row">
                        <!-- <mat-icon matListAvatar class="bgc-amber-800">{{item.icon}}</mat-icon> -->
                        <!-- <h3 matLine> {{item.description}} </h3> -->
                        <h3 matLine> {{item.name}} </h3>
                      </mat-list-item>
                      <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                    </ng-template>
                  </ng-template>
                </mat-list>
                <mat-divider>

                  
                </mat-divider>

                
                <mat-card-actions>
                  <a mat-button color="accent" class="text-upper" [routerLink]="['/logs']">
                    <span>View More</span>
                  </a>
                </mat-card-actions>

                <div>

                 
                </div>
              </mat-card>
              <mat-card id="dashboard-favorites-card" class="push-top">
                <!-- <mat-card-title>Weather Conditions</mat-card-title> -->
                <mat-card-title> <img class="img-css2" src="./assets/weather3.png"/>   Weather Conditions</mat-card-title>
                <mat-card-subtitle>Notifications </mat-card-subtitle>
                <mat-divider></mat-divider>
                <mat-nav-list class="will-load favorite-list">
                  <ng-template tdLoading="favorites.load">
                    <ng-template let-item let-last="last" ngFor [ngForOf]="products">
                      <mat-list-item layout-align="row" [routerLink]="['/product']">
                        <!-- <mat-icon matListAvatar>{{item.icon}}</mat-icon> -->
                        <h3 matLine> {{item.name}} </h3>
                        <!-- <p matLine> {{item.description}} </p> -->
                      </mat-list-item>
                      <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                    </ng-template>
                  </ng-template>
                </mat-nav-list>
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <a mat-button color="accent" class="text-upper" [routerLink]="['/product']">
                    <span>View More</span>
                  </a>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <td-layout-footer>
            <div layout="row" layout-align="start center">
              <span class="mat-caption">Copyright &copy; {{year}} Teradata. All rights reserved</span>
              <span flex></span>
              <mat-icon class="mat-icon-ux" svgIcon="assets:teradata-ux"></mat-icon>
            </div>
          </td-layout-footer>
        </td-layout-nav>
        