<td-layout>
    <td-layout-nav logo="assets:teradata" toolbarTitle="">
      <button mat-icon-button td-menu-button tdLayoutToggle>
   
        <mat-icon>menu</mat-icon>
        <!-- <mat-icon class="mat-icon-logo" svgIcon="tera"></mat-icon> -->
        </button>
     
          <div td-toolbar-content layout="row" layout-align="center center" flex>
            <span>RealTime ANALYTICS</span>
            <span flex></span>
            <!-- <a mat-icon-button matTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><mat-icon>chrome_reader_mode</mat-icon></a> -->
            <!-- <a mat-icon-button matTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><mat-icon svgIcon="assets:teradatalogo"></mat-icon></a> -->
          </div>
          <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
            <div flex-gt-sm="90">
              <div layout-gt-xs="row">
                <div flex-gt-xs="100">
                  <mat-card>
                    <mat-card-title>World Health Organization</mat-card-title>
                    <mat-card-subtitle>Health responses within the United Nations</mat-card-subtitle> 
                    <mat-divider>
                    </mat-divider>
                   <!-- <map [listOfFunctions]="functionlist"></map> -->
                    <map ></map>
                  </mat-card>
                </div>
              </div>
              <div layout-gt-xs="row" >
                <div flex-gt-xs="0">
                  <mat-card>
                    <mat-card-content class="text-center">
                      <div>
                          <!-- <td-tab-select [(ngModel)]="myValue">
          <td-tab-option [value]="1">Label 1</td-tab-option>
          <td-tab-option [value]="2">Label 2</td-tab-option>
          <td-tab-option [value]="3">Label 3</td-tab-option>
        </td-tab-select> -->
                          <!-- <div class="mat-subheading-2 push-bottom-none" >
                                                </div>
                          <button mat-menu-item>World Map</button> -->
                         
                           </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <div flex-gt-xs="20">
                  <mat-card>
                      
                    <mat-card-content class="text-center" [style.backgroundColor]="''">
                      <div>
                        <div class="mat-subheading-2 push-bottom-none"></div>
                        
                        <!-- <div class="mat-subheading-2 push-bottom-none">Current Status</div> -->
                        <!-- <button mat-menu-item>Current Status </button> -->
                        <!-- <button (click)="myClickFunction()" >Present</button> -->
                        <button (click)="myClickFunction()" _ngcontent-c47="" class="text-upper mat-raised-button mat-accent" color="bgc-blue-grey-" mat-raised-button="">Present</button>
                        <!-- <button (click)="myClickFunction2()">Future Prediction</button>  -->
                        <button (click)="myClickFunction2()" _ngcontent-c47="" class="text-upper mat-raised-button mat-accent" color="bgc-blue-grey-" mat-raised-button="">Future Prediction</button>  
                      </div>
                    </mat-card-content>
                  </mat-card>
                </div>
                <!-- <div flex-gt-xs="25"> -->
                  <!-- <mat-card> -->
                    <!-- <mat-card-content class="text-center" [style.backgroundColor]="''"> -->
                      <!-- <div class="mat-headline push-bottom-none">{{ '100' | digits}} <mat-icon class="tc-green-500 text-sm">arrow_upward</mat-icon></div> -->
                      <!-- <mat-icon class="icon tc-cyan-700">receipt</mat-icon> -->
                      <!-- <div> -->
                        <!-- <div class="mat-subheading-2 push-bottom-none"></div> -->
                        <!-- <button (click)="myClickFunction2()" >Future Prediction</button>-->
                      
                      <!-- </div> -->
                    <!-- </mat-card-content> -->
                  <!-- </mat-card> -->
                <!-- </div> -->
                     </div>
              <!-- <mat-card>
                <mat-card-title>Customer Activity</mat-card-title>
                <mat-card-subtitle>Recent activity from select members</mat-card-subtitle>
                <mat-divider></mat-divider>
                <mat-nav-list class="will-load item-list">
                  <ng-template tdLoading="items.load">
                    <ng-template let-item let-last="last" ngFor [ngForOf]="items">
                      <a mat-list-item layout-align="row" [routerLink]="['../item', item.item_id]">
                        <mat-icon matListAvatar> {{item.icon}} </mat-icon>
                        <h3 matLine> {{item.name}} </h3>
                        <p matLine> {{item.description | truncate:50 }} </p>
                        <span flex></span>
                        <span class="mat-caption text-right" flex="20"> {{item.created | timeAgo }} </span>
                      </a>
                      <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                    </ng-template>
                  </ng-template>
                </mat-nav-list>
              </mat-card> -->
            </div>
            <div flex-gt-sm="40">
              <mat-card>

      <mat-icon _ngcontent-c423="" class="mat-icon ng-tns-c423-0 material-icons" role="img" aria-hidden="true">notifications</mat-icon>
                <mat-card-title>Notifications</mat-card-title>
                <!-- <mat-card-subtitle>Areas requiring attention</mat-card-subtitle> -->
                <mat-divider></mat-divider>
                <mat-list class="will-load alert-list">
                  <ng-template tdLoading="alerts.load">
                    <ng-template let-item let-last="last" ngFor [ngForOf]="alerts">
                      <mat-list-item layout-align="row">
                        <!-- <mat-icon matListAvatar class="bgc-amber-800">{{item.icon}}</mat-icon> -->
                        <!-- <h3 matLine> {{item.description}} </h3> -->
                        <p matLine> {{item.name}} </p>
                      </mat-list-item>
                      <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                    </ng-template>
                  </ng-template>
                </mat-list>
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <a mat-button color="accent" class="text-upper" [routerLink]="['/logs']">
                    <span>View More</span>
                  </a>
                </mat-card-actions>
              </mat-card>
              <mat-card id="dashboard-favorites-card" class="push-top">
                <mat-card-title>Favorites</mat-card-title>
                <mat-card-subtitle>Your favorite products</mat-card-subtitle>
                <mat-divider></mat-divider>
                <mat-nav-list class="will-load favorite-list">
                  <ng-template tdLoading="favorites.load">
                    <ng-template let-item let-last="last" ngFor [ngForOf]="products">
                      <mat-list-item layout-align="row" [routerLink]="['/product']">
                        <mat-icon matListAvatar>{{item.icon}}</mat-icon>
                        <h3 matLine> {{item.name}} </h3>
                        <p matLine> {{item.description}} </p>
                      </mat-list-item>
                      <mat-divider *ngIf="!last" [inset]="true"></mat-divider>
                    </ng-template>
                  </ng-template>
                </mat-nav-list>
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <a mat-button color="accent" class="text-upper" [routerLink]="['/product']">
                    <span>View More</span>
                  </a>
                </mat-card-actions>
              </mat-card>
            </div>
          </div>
          <td-layout-footer>
            <div layout="row" layout-align="start center">
              <span class="mat-caption">Copyright &copy; {{year}} Teradata. All rights reserved</span>
              <span flex></span>
              <mat-icon class="mat-icon-ux" svgIcon="assets:teradata-ux"></mat-icon>
            </div>
          </td-layout-footer>
        </td-layout-nav>
        </td-layout>